build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

#gitignore
.gitignore

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

#db
.db

#env
.env.local
.env.development
.env.production
ACTUAL.env.production


#instructions
instructions/